# Ignore virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases, logs, etc.
*.db
*.log

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Optional model/data folders
models/
data/
